<mat-dialog-content class="mt-typography">
	<mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex">
		<form class="formulario grey-100" [formGroup]="dteAplicarCP">
			<div id="content">
				<mat-form-field>
					<input matInput formControlName="tipoDoc" />
				</mat-form-field>
			</div>

			<mat-tab label="Documento">
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center none">
					<div class="title_box">
						<div id="title">Datos Generales</div>
						<div id="content">
							<div fxLayout="row wrap" fxLayoutAlign="center none" fxFlex="60">
								<div class="title_box">
									<div id="title">Datos</div>
									<div id="content">
										<mat-form-field appearance="outline">
											<mat-label>Tipo Doc</mat-label>
											<mat-select formControlName="tipoDoc">
												<mat-option *ngFor="let item of listTipoDoc" [value]="item.TIPO">{{ item.TIPO }}</mat-option>
											</mat-select>
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>SubTipo</mat-label>
											<mat-select formControlName="subtipo">
												<mat-option *ngFor="let item of listTipoDoc" [value]="item.SUBTIPO">{{
													item.DESCRIPCION
												}}</mat-option>
											</mat-select>
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>Numero</mat-label>
											<input matInput type="text" formControlName="dte" readonly />
										</mat-form-field>
									</div>
								</div>
								<div class="title_box">
									<div id="title">Datos Generales</div>
									<div id="content">
										<mat-form-field appearance="outline">
											<mat-label>Aplicación</mat-label>
											<input matInput type="text" formControlName="aplicacion" />
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>Condicion Pago</mat-label>
											<mat-select formControlName="condPago">
												<mat-option disabled *ngFor="let item of listCondPago" [value]="item.CONDICION_PAGO"
													>{{ item.CONDICION_PAGO }}-{{ item.DESCRIPCION }}</mat-option
												>
											</mat-select>
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>Sello Recibido</mat-label>
											<input matInput type="text" formControlName="selloRecibido" readonly />
										</mat-form-field>
									</div>
								</div>
							</div>
							<div fxLayout="row wrap" fxLayoutAlign="center none" fxFlex="40">
								<div class="title_box">
									<div id="title">Fecha</div>
									<div id="content">
										<mat-form-field appearance="outline">
											<mat-label>Documento</mat-label>
											<input matInput type="text" formControlName="fechaDoc" readonly />
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>Rigue</mat-label>
											<input matInput type="text" formControlName="fechaRige" readonly />
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>Vence</mat-label>
											<input matInput type="text" formControlName="fechaVence" readonly />
										</mat-form-field>
									</div>
								</div>
								<div class="title_box">
									<div id="title">Otros</div>
									<div id="content">
										<mat-form-field appearance="outline">
											<mat-label>Monto</mat-label>
											<input
												currencyMask
												[(ngModel)]="montoTotal"
												class="right"
												matInput
												formControlName="monto"
												readonly
											/>
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>Impuesto</mat-label>
											<mat-select formControlName="impuesto" (selectionChange)="selectIva($event)">
												<mat-option disabled *ngFor="let item of listImpuesto" [value]="item.IMPUESTO"
													>{{ item.IMPUESTO }}-{{ item.DESCRIPCION }}</mat-option
												>
											</mat-select>
										</mat-form-field>
										<mat-form-field appearance="outline">
											<mat-label>Moneda</mat-label>
											<mat-select formControlName="moneda">
												<mat-option disabled *ngFor="let item of listMoneda" [value]="item.MONEDA"
													>{{ item.MONEDA }}-{{ item.NOMBRE }}</mat-option
												>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Detalle">
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center none">
					<div fxLayout="row wrap" fxLayoutAlign="center none" fxFlex="50">
						<div class="title_box">
							<div id="title">Datos</div>
							<div id="content">
								<mat-form-field appearance="outline">
									<mat-label>Sub Total</mat-label>
									<input currencyMask [(ngModel)]="value" class="right" matInput formControlName="subtotal" readonly />
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>IVA</mat-label>
									<input currencyMask [(ngModel)]="iva" class="right" matInput formControlName="iva" readonly />
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Impuesto 2</mat-label>
									<input
										currencyMask
										[(ngModel)]="impuesto2"
										class="right"
										matInput
										formControlName="impuesto2"
										readonly
									/>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>FOVIAL</mat-label>
									<input currencyMask [(ngModel)]="fovial" class="right" matInput formControlName="fovial" readonly />
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>COTRANS</mat-label>
									<input currencyMask [(ngModel)]="cotrans" class="right" matInput formControlName="cotrans" readonly />
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Monto Total</mat-label>
									<input
										currencyMask
										[(ngModel)]="montoTotal"
										class="right"
										matInput
										formControlName="montoTotal"
										readonly
									/>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Contable" [disabled]="activa">
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center none">
					<div fxLayout="row wrap" fxLayoutAlign="center none">
						<div class="title_box">
							<div id="title">Transacción Contable</div>
							<div id="content">
								<mat-form-field appearance="outline">
									<mat-label>ASIENTO</mat-label>
									<input class="right" [ngModel]="_asiento" matInput formControlName="asiento" readonly />
								</mat-form-field>
								<button mat-raised-button color="warn" (click)="clickAgregar(_asiento)">Agregar Linea</button>
							</div>
						</div>
					</div>
				</div>

				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center none" fxFlex="100">
					<mat-sidenav-container fxFlex="0 1 auto">
						<mat-sidenav-container>
							<div class="mat-elevation-z8 m-12">
								<div class="table-container">
									<table mat-table [dataSource]="listLineaAsientos">
										<!-- Item Column -->
										<ng-container matColumnDef="consecutivo">
											<th mat-header-cell *matHeaderCellDef>No.</th>
											<td mat-cell *matCellDef="let transaction">{{ transaction.CONSECUTIVO }}</td>
											<td mat-footer-cell *matFooterCellDef></td>
										</ng-container>
										<ng-container matColumnDef="centroCosto">
											<th mat-header-cell *matHeaderCellDef>Centro Costo</th>
											<td mat-cell *matCellDef="let transaction">
												{{ transaction.CENTRO_COSTO }}-{{ transaction.DESCRIPCION }}-
											</td>
											<td mat-footer-cell *matFooterCellDef></td>
										</ng-container>
										<ng-container matColumnDef="cuentaContable">
											<th mat-header-cell *matHeaderCellDef>Cuenta Contable</th>
											<td mat-cell *matCellDef="let transaction">
												{{ transaction.CUENTA_CONTABLE }}-{{ transaction.DES }}
											</td>
											<td mat-footer-cell *matFooterCellDef></td>
										</ng-container>
										<ng-container matColumnDef="fuente">
											<th mat-header-cell *matHeaderCellDef>Fuente</th>
											<td mat-cell *matCellDef="let transaction">{{ transaction.FUENTECORTA }}</td>
											<td mat-footer-cell *matFooterCellDef></td>
										</ng-container>
										<ng-container matColumnDef="referencia">
											<th mat-header-cell *matHeaderCellDef>Referencia</th>
											<td mat-cell *matCellDef="let transaction">{{ transaction.REFERENCIACORTA }}</td>
											<td mat-footer-cell *matFooterCellDef>Total</td>
										</ng-container>

										<!-- Cost Column -->
										<ng-container matColumnDef="debitoLocal">
											<th mat-header-cell *matHeaderCellDef>Debito</th>
											<td mat-cell *matCellDef="let transaction">{{ transaction.DEBITO_LOCAL | currency }}</td>
											<td mat-footer-cell *matFooterCellDef>{{ getTotalDebito() | currency }}</td>
										</ng-container>

										<ng-container matColumnDef="creditoLocal">
											<th mat-header-cell *matHeaderCellDef>Credito</th>
											<td mat-cell *matCellDef="let transaction">{{ transaction.CREDITO_LOCAL | currency }}</td>
											<td mat-footer-cell *matFooterCellDef>{{ getTotalCredito() | currency }}</td>
										</ng-container>

										<ng-container matColumnDef="actions">
											<mat-header-cell *matHeaderCellDef></mat-header-cell>
											<mat-cell *matCellDef="let element">
												<button mat-icon-button (click)="clickEdit(element)">
													<mat-icon>edit</mat-icon>
												</button>
												<button
													mat-icon-button
													color="warn"
													(click)="clickDelete(element.CONSECUTIVO, element.ASIENTO)"
												>
													<mat-icon>delete</mat-icon>
												</button>
											</mat-cell>
											<td mat-footer-cell *matFooterCellDef></td>
										</ng-container>

										<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
										<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

										<tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>
									</table>
								</div>
							</div>
						</mat-sidenav-container>
					</mat-sidenav-container>
				</div>
			</mat-tab>
		</form>
	</mat-tab-group>
	<div mat-dialog-actions [align]="'end'">
		<button mat-raised-button color="basic" (click)="cerrar()">Cerrar</button>
		<button mat-raised-button color="warn" [disabled]="btnAplicar" (click)="clickSave()">Aplicar a CP</button>
	</div>
</mat-dialog-content>
