<mat-dialog-content class="mt-typography">
	<form class="formulario grey-100" [formGroup]="PaisForm" (ngSubmit)="onclickPais()">
		<div class="generalContenedor" fxLayout="row wrap" fxLayoutAlign="center center">
			<div class="title_box">
				<div id="content">
					<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="20">
						<mat-form-field appearance="outline">
							<mat-label>Codgo Pais</mat-label>
							<input
								formControlName="codPais"
								type="text"
								style="text-transform: uppercase"
								matInput
								placeholder="Codigo Pais"
								maxlength="4"
							/>
							<mat-error *ngIf="PaisForm.get('codPais')!.hasError('required')">El campo es requerido</mat-error>
						</mat-form-field>
					</div>
					<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="80">
						<mat-form-field appearance="outline">
							<mat-label>Nombre</mat-label>
							<input
								formControlName="nombre"
								type="text"
								style="text-transform: uppercase"
								matInput
								placeholder="Descripcion"
							/>
							<mat-error *ngIf="PaisForm.get('codPais')!.hasError('required')">El campo es requerido</mat-error>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<mat-tab-group mat-align-tabs="center">
			<mat-tab label="Facturación">
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
					<div
						fxLayout="row"
						fxLayout.xs="column"
						fxLayoutAlign="start stretch"
						fxFlex="90"
						fxFlex.xs="94"
						fxFlex.sm="90"
						class="generalContenedor"
					>
						<div class="title_box">
							<div id="title">Centro Costo y Cuentas Contables</div>
							<div id="content">
								<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
									<mat-form-field appearance="outline">
										<mat-label>Ventas </mat-label>
										<mat-select formControlName="ctrCtaVentas">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Ventas Exentas</mat-label>
										<mat-select formControlName="ctrCtaVentasExenta">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Dev.Sobre Vtas.</mat-label>
										<mat-select formControlName="ctrCtaDevSobreVta">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Descuento Gral.</mat-label>

										<mat-select formControlName="ctrCtaDescuentaGral">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Costo de Ventas</mat-label>

										<mat-select formControlName="ctrCtaCostoVentas">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Descuento Lineas</mat-label>

										<mat-select formControlName="ctrCtaDescuentoLinea">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Costo Líneas</mat-label>

										<mat-select formControlName="ctrCtaCostoLineas">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Pago de Contado</mat-label>

										<mat-select formControlName="ctrCtaPagoContado">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Gastos Comision</mat-label>

										<mat-select formControlName="ctrCtaGastoComision">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Desc.Bonificación</mat-label>

										<mat-select formControlName="ctrCtaDescBonificacion">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Ajuste x Redondeo</mat-label>

										<mat-select formControlName="ctrCtaAjustesRedondeo">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Cuentas por Cobrar">
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
					<div
						fxLayout="row"
						fxLayout.xs="column"
						fxLayoutAlign="start stretch"
						fxFlex="90"
						fxFlex.xs="94"
						fxFlex.sm="90"
						class="generalContenedor"
					>
						<div class="title_box">
							<div id="title">Centro Costo y Cuentas Contables</div>
							<div id="content">
								<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
									<mat-form-field appearance="outline">
										<mat-label>Cuenta por Cobrar</mat-label>

										<mat-select formControlName="ctrCtaCuentasXCobrar">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Letra por Cobrar</mat-label>

										<mat-select formControlName="ctrCtaLetraxCobrar">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Pronto Pago</mat-label>

										<mat-select formControlName="ctrCtaProntoPago">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Intereses de Mora</mat-label>

										<mat-select formControlName="ctrCtaInteresesdeMora">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Recibos</mat-label>

										<mat-select formControlName="ctrCtaRecibos">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>IVA</mat-label>

										<mat-select formControlName="ctrCtaImpuesto1">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>1%</mat-label>

										<mat-select formControlName="ctrCtaImpuesto2">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Anticipos</mat-label>

										<mat-select formControlName="ctrCtaAnticipos">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Cierre Débitos</mat-label>

										<mat-select formControlName="ctrCtaCierreDebitos">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Cierre Créditos</mat-label>

										<mat-select formControlName="ctrCtaCierreCreditos">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Interés Corriente </mat-label>

										<mat-select formControlName="ctrCtaInteresCorriente">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Cuentas por Pagar">
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
					<div
						fxLayout="row"
						fxLayout.xs="column"
						fxLayoutAlign="start stretch"
						fxFlex="90"
						fxFlex.xs="94"
						fxFlex.sm="90"
						class="generalContenedor"
					>
						<div class="title_box">
							<div id="title">Centro Costo y Cuentas Contables</div>
							<div id="content">
								<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
									<mat-form-field appearance="outline">
										<mat-label>Cuentas por Pagar</mat-label>

										<mat-select formControlName="ctrCtaCuentasXPagar">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Letras por Pagar</mat-label>

										<mat-select formControlName="ctrCtaLetraxPagar">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Pronto Pago</mat-label>

										<mat-select formControlName="ctrCtaProntoPagoCP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Comisiones</mat-label>

										<mat-select formControlName="ctrCtaComisiones">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>IVA</mat-label>

										<mat-select formControlName="ctrCtaImpuesto1CP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>1%</mat-label>

										<mat-select formControlName="ctrCtaImpuesto2CP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Anticipos</mat-label>

										<mat-select formControlName="ctrCtaAnticiposCP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Cierre Débitos</mat-label>

										<mat-select formControlName="ctrCtaCierreDebitosCP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Cierre Créditos</mat-label>

										<mat-select formControlName="ctrCtaCierreCreditosCP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Otros">
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
					<div
						fxLayout="row"
						fxLayout.xs="column"
						fxLayoutAlign="start stretch"
						fxFlex="90"
						fxFlex.xs="94"
						fxFlex.sm="90"
						class="generalContenedor"
					>
						<div class="title_box">
							<div id="title">Cuentas por Cobrar</div>
							<div id="content">
								<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
									<mat-form-field appearance="outline">
										<mat-label>Rubro 1 CC</mat-label>

										<mat-select formControlName="Rubro1CC">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>Rubro 2 CC</mat-label>

										<mat-select formControlName="Rubro2CC">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
					<div
						fxLayout="row"
						fxLayout.xs="column"
						fxLayoutAlign="start stretch"
						fxFlex="90"
						fxFlex.xs="94"
						fxFlex.sm="90"
						class="generalContenedor"
					>
						<div class="title_box">
							<div id="title">Cuentas por Pagar</div>
							<div id="content">
								<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
									<mat-form-field appearance="outline">
										<mat-label>FOVIAL</mat-label>

										<mat-select formControlName="Rubro1CP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
									<mat-form-field appearance="outline">
										<mat-label>COTRANS</mat-label>

										<mat-select formControlName="Rubro2CP">
											<mat-option *ngFor="let item of listCentroCuenta" [value]="item.id"
												>{{ item.centroCosto.codCentroCosto }}-{{ item.centroCosto.descripcion }} |
												{{ item.cuentaContable.codCuentaContable }}-{{ item.cuentaContable.descripcion }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
					<div
						fxLayout="row"
						fxLayout.xs="column"
						fxLayoutAlign="start stretch"
						fxFlex="90"
						fxFlex.xs="94"
						fxFlex.sm="90"
						class="generalContenedor"
					>
						<div class="title_box">
							<div id="title">Código ISO del País</div>
							<div id="content">
								<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="30">
									<mat-form-field appearance="outline">
										<mat-label>CodigoISO</mat-label>
										<input
											formControlName="PaisISO"
											type="text"
											style="text-transform: uppercase"
											matInput
											placeholder="Codigo Articulo"
											maxlength="4"
										/>
										<mat-error *ngIf="PaisForm.get('codPais')!.hasError('required')">El campo es requerido</mat-error>
									</mat-form-field>
								</div>
								<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="70">
									<mat-form-field appearance="outline">
										<mat-label>Descripción</mat-label>
										<input type="text" matInput placeholder="Texto de Clasificacion 1" />
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
		<div mat-dialog-actions [align]="'end'">
			<button mat-raised-button color="basic" mat-dialog-close>Cerrar</button>
			<button mat-raised-button color="warn" type="submit" [disabled]="disableButtonSave">{{ actionBtn }}</button>
		</div>
	</form>
</mat-dialog-content>
