table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    padding-top: 10px;
  }
  .mat-label{
    border-top: 5px;
  }
  td, th {
    width: 50%;
  }
.search-div{
    border: 2;
}