<div class="search-div" fxLayout="row" fxLayoutAlign="end end">
	<button mat-raised-button color="warn" (click)="openDialog()"><mat-icon>add</mat-icon>Crear</button>
</div>
<form class="buscar">
	<mat-form-field class="full-with" appearance="fill">
		<input matInput (keyup)="applyFilter($event)" placeholder="Buscar Bodega" #input />
	</mat-form-field>
</form>

<div class="mat-elevation-z8">
	<mat-table [dataSource]="listBodega" matSort>
		<ng-container matColumnDef="codBodega">
			<mat-header-cell *matHeaderCellDef mat-sort-header>codBodega</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.codBodega }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="nombre">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.nombre }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="tipo">
			<mat-header-cell *matHeaderCellDef mat-sort-header>tipo</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.tipo }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="telefono">
			<mat-header-cell *matHeaderCellDef mat-sort-header>telefono</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.telefono }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="direccion">
			<mat-header-cell *matHeaderCellDef mat-sort-header>direccion</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.direccion }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="activo">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Activo</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-checkbox type="checkbox" [(ngModel)]="element.activa"></mat-checkbox>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let element">
				<button mat-icon-button (click)="clickEdit(element)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="clickDelete(element.id)"><mat-icon>delete</mat-icon></button>
				<button mat-icon-button color="basic" (click)="modalLocalizaciones(element)">
					<mat-icon>add_location</mat-icon>
				</button>
				<button mat-icon-button color="secondary" (click)="modalUsuario(element)">
					<mat-icon>supervisor_account</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
		</tr>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[10, 25, 75, 100]" showFirstLastButtons></mat-paginator>
</div>
