<h1 mat-dialog-title color="warn">Adicionar Bodega</h1>
<div mat-dialog-content>
	<form [formGroup]="bodegaForm">
		<mat-form-field appearance="outline">
			<mat-label>Codigo de bodega</mat-label>
			<input formControlName="codBodega" matInput placeholder="Codigo Bodega" />
			<mat-error *ngIf="bodegaForm.get('codBodega')!.hasError('required')">El maximo de 4 Caracteres</mat-error>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Nombre</mat-label>
			<input formControlName="nombre" matInput placeholder="Nombre Cobrador" />
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Telefono</mat-label>
			<input formControlName="telefono" matInput placeholder="Nombre Cobrador" />
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Direccion</mat-label>
			<input formControlName="direccion" matInput placeholder="Nombre Cobrador" />
		</mat-form-field>

		<mat-label>Tipo Bodega: </mat-label>
		<mat-radio-group class="radio-group" formControlName="tipo" [formControl]="floatLabelControl">
			<mat-radio-button class="radio-button" value="V">Venta</mat-radio-button>
			<mat-radio-button class="radio-button" value="C">Consumo</mat-radio-button>
		</mat-radio-group>

		<mat-checkbox formControlName="activa">Activo</mat-checkbox>
	</form>
</div>
<div mat-dialog-actions [align]="'end'">
	<button mat-raised-button color="basic" mat-dialog-close>Cerrar</button>
	<button mat-raised-button color="warn" (click)="clickSave()">{{ actionBtn }}</button>
</div>
