<mat-dialog-content class="mt-typography">
	<h1>Privilegios</h1>
	<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
		<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
			{{ node.name }}
		</mat-tree-node>

		<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
			<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
				<mat-icon class="mat-icon-rtl-mirror">
					{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
				</mat-icon>
			</button>
			{{ node.name }}
		</mat-tree-node>
	</mat-tree>
	<div mat-dialog-actions [align]="'end'">
		<button mat-raised-button color="basic" mat-dialog-close>Cerrar</button>
		<button mat-raised-button color="warn" type="submit">Guardar</button>
	</div>
</mat-dialog-content>
