<div mat-dialog-title>
	<h1>Parámetros de Control de Inventario</h1>
</div>

<mat-tab-group mat-align-tabs="center">
	<form class="formulario grey-100" [formGroup]="globalesCIForm">
		<mat-tab label="Generales">
			<div class="generales" fxLayout="row wrap" fxLayoutAlign="center none">
				<div
					fxLayout="row"
					fxLayout.xs="column"
					fxLayoutAlign="start stretch"
					fxFlex="60"
					fxFlex.xs="94"
					fxFlex.sm="80"
					class="generalContenedor"
				>
					<div fxLayout="row wrap" fxLayoutAlign="center none" fxFlex="50">
						<div class="title_box">
							<div id="title">Decimales</div>
							<div id="content">
								<mat-form-field appearance="outline">
									<mat-label>Costos</mat-label>
									<input
										type="text"
										formControlName="costoDecimal"
										matInput
										placeholder="Decimales para Costo"
										numberOnly
									/>
									<mat-error *ngIf="globalesCIForm.get('costoDecimal')!.hasError('required')"
										>El Costo es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('costoDecimal')!.hasError('pattern')"
										>El Formato no es correcto</mat-error
									>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Existencias</mat-label>
									<input
										type="text"
										formControlName="existenciaDecimal"
										matInput
										numberOnly
										placeholder="Decimales para Existencias"
									/>
									<mat-error *ngIf="globalesCIForm.get('existenciaDecimal')!.hasError('required')"
										>La Existencia es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('existenciaDecimal')!.hasError('pattern')"
										>El Formato no es correcto</mat-error
									>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Pesos</mat-label>
									<input
										type="number"
										formControlName="pesoDecimal"
										matInput
										placeholder="Decimales para Pesos"
										numberOnly
									/>
									<mat-error *ngIf="globalesCIForm.get('pesoDecimal')!.hasError('required')"
										>La Existencia es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('pesoDecimal')!.hasError('pattern')"
										>El Formato no es correcto</mat-error
									>
								</mat-form-field>
							</div>
						</div>

						<div class="title_box">
							<div id="title">Costos Por Omision</div>
							<div id="content">
								<mat-form-field appearance="outline">
									<mat-label>Costo Fiscal</mat-label>
									<mat-select formControlName="costoFiscal" [disabled]="disableSelect.value">
										<mat-option value="E">Estandar</mat-option>
										<mat-option value="X">PEPS</mat-option>
										<mat-option value="P">Promedio</mat-option>
										<mat-option value="Z">UEPS</mat-option>
										<mat-option value="Ultimo">Ultimo</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Costo Corporativo</mat-label>
									<mat-select formControlName="costoCorporativo" [disabled]="disableSelect.value">
										<mat-option value="E">Estandar </mat-option>
										<mat-option value="X">PEPS</mat-option>
										<mat-option value="P">Promedio</mat-option>
										<mat-option value="Z">UEPS</mat-option>
										<mat-option value="U">Ultimo</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center none">
						<div class="title_box">
							<div id="content">
								<mat-form-field appearance="outline">
									<mat-label>Costo Ingreso especial</mat-label>
									<mat-select formControlName="costoIngresoEspecial" [disabled]="disableSelect.value">
										<mat-option value="F">Fiscal</mat-option>
										<mat-option value="P">Promedio</mat-option>
										<mat-option value="U">Ultimo</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Unidad de Peso</mat-label>
									<input type="text" formControlName="unidadPeso" matInput placeholder="Correo Cobrador" />
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Unidad de Volumen</mat-label>
									<input type="text" formControlName="unidadVolumen" matInput placeholder="Correo Cobrador" />
								</mat-form-field>
							</div>
						</div>
						<div class="generales" fxLayout="row wrap" fxLayoutAlign="space-between center">
							<div
								fxLayout="row"
								fxLayout.xs="column"
								fxLayoutAlign="start stretch"
								fxFlex.xs="94"
								fxFlex.sm="80"
								class="generalContenedor"
							>
								<div class="title_box existenciaTotal">
									<div id="title">Existencia Total</div>
									<div id="content">
										<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="50">
											<p><mat-checkbox formControlName="cuarentena">Cuarentena</mat-checkbox></p>
											<p><mat-checkbox formControlName="disponible">Disponible</mat-checkbox></p>
										</div>
										<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="50">
											<p><mat-checkbox formControlName="reservada">Reservada</mat-checkbox></p>
											<p><mat-checkbox formControlName="vencida">Vencida</mat-checkbox></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
				<div
					fxLayout="row"
					fxLayout.xs="column"
					fxLayoutAlign="start stretch"
					fxFlex="60"
					fxFlex.xs="94"
					fxFlex.sm="80"
					class="generalContenedor"
				>
					<div class="title_box">
						<div id="title">Texto de Clasificaciones</div>

						<div id="content">
							<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50">
								<mat-form-field appearance="outline">
									<mat-label>Clasificacion 1</mat-label>
									<input type="text" formControlName="nombreClasif1" matInput placeholder="Texto de Clasificacion 1" />
									<mat-error *ngIf="globalesCIForm.get('nombreClasif1')!.hasError('required')"
										>Campo es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('nombreClasif1')!.hasError('maxlength')"
										>El Maximo de carateres es de 25</mat-error
									>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Clasificacion 2</mat-label>
									<input type="text" formControlName="nombreClasif2" matInput placeholder="Texto de Clasificacion 2" />
									<mat-error *ngIf="globalesCIForm.get('nombreClasif2')!.hasError('required')"
										>Campo es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('nombreClasif2')!.hasError('maxlength')"
										>El Maximo de carateres es de 25</mat-error
									>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Clasificacion 3</mat-label>
									<input type="text" formControlName="nombreClasif3" matInput placeholder="Texto de Clasificacion 3" />
									<mat-error *ngIf="globalesCIForm.get('nombreClasif3')!.hasError('required')"
										>Campo es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('nombreClasif3')!.hasError('maxlength')"
										>El Maximo de carateres es de 25</mat-error
									>
								</mat-form-field>
							</div>
							<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50">
								<mat-form-field appearance="outline">
									<mat-label>Clasificacion 4</mat-label>
									<input type="text" formControlName="nombreClasif4" matInput placeholder="Texto de Clasificacion 1" />
									<mat-error *ngIf="globalesCIForm.get('nombreClasif4')!.hasError('required')"
										>Campo es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('nombreClasif4')!.hasError('maxlength')"
										>El Maximo de carateres es de 25</mat-error
									>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Clasificacion 5</mat-label>
									<input type="text" formControlName="nombreClasif5" matInput placeholder="Texto de Clasificacion 2" />
									<mat-error *ngIf="globalesCIForm.get('nombreClasif5')!.hasError('required')"
										>Campo es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('nombreClasif5')!.hasError('maxlength')"
										>El Maximo de carateres es de 25</mat-error
									>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Clasificacion 6</mat-label>
									<input type="text" formControlName="nombreClasif6" matInput placeholder="Texto de Clasificacion 3" />
									<mat-error *ngIf="globalesCIForm.get('nombreClasif6')!.hasError('required')"
										>Campo es requerido</mat-error
									>
									<mat-error *ngIf="globalesCIForm.get('nombreClasif6')!.hasError('maxlength')"
										>El Maximo de carateres es de 25</mat-error
									>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Indicadores">
			<div class="generales" fxLayout="row wrap" fxLayoutAlign="center center">
				<div
					fxLayout="row"
					fxLayout.xs="column"
					fxLayoutAlign="start stretch"
					fxFlex="60"
					fxFlex.xs="94"
					fxFlex.sm="80"
					class="generalContenedor"
				>
					<div class="title_box">
						<div id="content">
							<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50">
								<section class="indicadores">
									<p><mat-checkbox formControlName="integracionCont">Integración contable</mat-checkbox></p>
									<p><mat-checkbox formControlName="usaLocalizaciones">Control de localizaciones</mat-checkbox></p>
									<p><mat-checkbox formControlName="usaCodigoBarras">Usa código de barras</mat-checkbox></p>
									<p><mat-checkbox formControlName="usaAprobacion">Usa aprobacón de paquetes</mat-checkbox></p>
									<p>
										<mat-checkbox formControlName="relaArticuloProveedor">Relacionar Artículo-Proveedor</mat-checkbox>
									</p>
									<p>
										<mat-checkbox formControlName="resExistenciaDocumento"
											>Reserva existencias al guardar documentos en empaques</mat-checkbox
										>
									</p>
									<p>
										<mat-checkbox formControlName="kits">Permite ingresar KITS en transacciones</mat-checkbox>
									</p>
									<p>
										<mat-checkbox formControlName="redondearUnidadDetalle"
											>Redondear las Unidades de Detalle</mat-checkbox
										>
									</p>
								</section>
							</div>
							<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="50">
								<section class="indicadores">
									<p><mat-checkbox formControlName="transaccionesXUsuario">Transacciones por Usuario</mat-checkbox></p>
									<p>
										<mat-checkbox formControlName="UsaConsecutivosPorDocumento"
											>Usa Consecutivos por documento por</mat-checkbox
										>
									</p>
									<mat-radio-group class="radio-group" formControlName="manejaEstandar">
										<mat-radio-button class="radio-button" value="V">Maneja Estandar</mat-radio-button>
										<mat-radio-button class="radio-button" value="C">Rutinas configurables</mat-radio-button>
									</mat-radio-group>
									<p><mat-checkbox formControlName="usaNumeroSerie">Usa números de serie</mat-checkbox></p>
								</section>

								<mat-form-field appearance="outline">
									<mat-label>Transacciones de inventario</mat-label>
									<input type="number" formControlName="lineaMaxTrans" matInput placeholder="Número máximo de líneas" />
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Contable">
			<div class="title_box">
				<div class="formulario grey-100">
					<div class="tipoAsiento">
						<div class="tipo">
							<mat-form-field appearance="outline">
								<mat-label>Tipo de Asiento por omision</mat-label>
								<input
									type="number"
									formControlName="tipoAsientoId"
									matInput
									placeholder="Tipo de Asiento por omisión"
								/>
							</mat-form-field>
							<mat-form-field appearance="outline">
								<mat-label>Paquete por omision</mat-label>
								<input type="number" formControlName="paqueteId" matInput placeholder="Paquete por omisión" />
							</mat-form-field>
						</div>
						<div class="descripcion">
							<mat-form-field appearance="outline">
								<mat-label>Descripcion</mat-label>
								<input
									type="text"
									formControlName="descripcionPaquete"
									matInput
									placeholder="Tipo de Asiento por omisión"
								/>
							</mat-form-field>
							<mat-form-field appearance="outline">
								<mat-label>Descripcion</mat-label>
								<input
									type="text"
									formControlName="descripcionAsiento"
									matInput
									placeholder="Tipo de Asiento por omisión"
								/>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
			<div class="title_box">
				<div id="title">Generación Asiento</div>
				<div class="formulario grey-100">
					<div style="align-items: flex-start">
						<p><mat-checkbox formControlName="generacionAsientoVisual">Visualizar</mat-checkbox></p>
						<p><mat-checkbox formControlName="generacionAsientoModificar">Modificar</mat-checkbox></p>
						<p><mat-checkbox formControlName="generacionAsientoAplicar">Aplicar automaticamente</mat-checkbox></p>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Ajuste">
			<div class="title_box">
				<div id="title">Transacciones con Asientos en linea</div>
				<div class="formulario grey-100">
					<div class="contendorTransaccionesLinea">
						<div class="transLineaUno">
							<p><mat-checkbox formControlName="asntAjuVent">Ventas</mat-checkbox></p>
							<p><mat-checkbox formControlName="asntAjuFisico">Fisico</mat-checkbox></p>
							<p><mat-checkbox formControlName="asntAjuConsumo">Consumo</mat-checkbox></p>
						</div>
						<div class="transLineaDos">
							<p><mat-checkbox formControlName="generacionAsientoVisual">Miselaneo</mat-checkbox></p>
							<p><mat-checkbox formControlName="generacionAsientoModificar">Compras</mat-checkbox></p>
							<p><mat-checkbox formControlName="generacionAsientoAplicar">Costos</mat-checkbox></p>
						</div>
						<div class="transLineaTres">
							<p><mat-checkbox formControlName="generacionAsientoVisual">Producción</mat-checkbox></p>
							<p><mat-checkbox formControlName="generacionAsientoModificar">Vencimiento</mat-checkbox></p>
						</div>
					</div>
				</div>
			</div>
			<div class="centroCosto">
				<p>
					<mat-checkbox formControlName="generacionAsientoVisual"
						>Centro de costo por linea de transacción</mat-checkbox
					>
				</p>
			</div>
		</mat-tab>
	</form>
</mat-tab-group>
<div mat-dialog-actions [align]="'center'" style="margin-bottom: 30px">
	<button mat-raised-button color="warn" (click)="save()">Guardar</button>
</div>
