<div class="search-div" fxLayout="row" fxLayoutAlign="end end">
	<button mat-raised-button color="warn" (click)="openDialog()"><mat-icon>add</mat-icon>Crear</button>
</div>

<form class="buscar">
	<mat-form-field class="full-with" appearance="fill">
		<input matInput (keyup)="applyFilter($event)" placeholder="Buscar Vendedor" #input />
	</mat-form-field>
</form>

<div class="mat-elevation-z8">
	<mat-table [dataSource]="listUsuarios" matSort>
		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="nombres">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.nombres }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="rol">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Rol</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.rol }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="activo">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Activo</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-checkbox type="checkbox" [(ngModel)]="element.activo"></mat-checkbox>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let element">
				<button mat-icon-button (click)="clickEdit(element)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="clickDelete(element.usuario_id)">
					<mat-icon>key</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
		</tr>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[10, 25, 75, 100]" showFirstLastButtons></mat-paginator>
</div>
