<h2>Ubicaciones por Visita</h2>

<form [formGroup]="filtroForm" class="filtro-reporte" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
	<mat-form-field appearance="outline">
		<mat-label>Compania</mat-label>
		<input formControlName="compania" matInput />
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Fecha Desde</mat-label>
		<input formControlName="fechaDesde" matInput type="date" />
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Fecha Hasta</mat-label>
		<input formControlName="fechaHasta" matInput type="date" />
	</mat-form-field>
	<button mat-raised-button color="warn" (click)="generar()"><mat-icon>print</mat-icon>Generar</button>
</form>

<div class="mat-elevation-z8">
	<mat-table [dataSource]="resultados" matSort>
		<ng-container matColumnDef="cliente">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.cliente }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="ruta">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Ruta</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.ruta }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="fecha">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.fecha | date: 'shortDate' }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="distanciaM">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Distancia (m)</mat-header-cell>
			<mat-cell *matCellDef="let element">{{ element.distanciaM }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="dentroTolerancia">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Dentro de Tolerancia</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-icon [color]="element.dentroTolerancia ? 'primary' : 'warn'">{{ element.dentroTolerancia ? 'check_circle' : 'cancel' }}</mat-icon>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[10, 25, 75, 100]" showFirstLastButtons></mat-paginator>
</div>
